/build
*.pyc
/node_modules
/package.json
/package-lock.json
/cache
*.lyx~
/export
\#*.lyx\#
/.hypothesis
.build
venv
/hardhat.config.js
.idea
.env
/.env-*
/.py312
/scripts/networks.py
/brownie-deploy-emas/build
.coverage
.claude
.vscode
.venv
