[project]
name = "curve-stablecoin"
version = "0.2.0"
description = "Curve Stablecoin contracts and tests"
readme = "README.md"
requires-python = ">=3.10,<4"
authors = [
    { name = "Michael Egorov", email = "michael@curve.fi" }
]

dependencies = [
    "vyper==0.4.3",
    "snekmate>=0.1.1",
]

[dependency-groups]
dev = [
    "titanoboa",
    "hypothesis>=6.99.0",
    "pytest>=8.0.0",
    "pytest-xdist>=3.5",
    "pytest-forked>=1.6.0",
    "pytest-cov>=4.0.0",
    "pytest-profiling>=1.8.1",
    "pre-commit==4.0.1"
]

[tool.uv.sources]
titanoboa = { git = "https://github.com/AlbertoCentonze/titanoboa", rev = "vvm-eval" }

[tool.uv]
package = false  # This is not a Python package

[tool.ruff.lint]
ignore = [
    # Should be eventually fixed
    "E722" ,
    "F821"
]
