[tool.poetry]
name = "curve-stablecoin"
version = "0.2.0"
description = ""
authors = ["Michael Egorov <michael@curve.fi>"]
readme = "README.md"
packages = []

[tool.poetry.dependencies]
python = ">=3.10,<4"
vyper = "0.3.10"
poetry = "^1"
titanoboa = {git = "https://github.com/vyperlang/titanoboa.git", rev = "375052479b5a164a3f84489810eebb15fb43737a"}
hypothesis = "^6.99.0"
pdbpp = "^0.10.3"
jedi = "^0.19.0"
pytest-xdist = "^3.5"
pytest-forked = "^1.6.0"
py-evm = "<0.10.0"
ipython = "^8"
cytoolz = "^0.12"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
